<table border="1" align="center" width="800">
  <tr align="left"><td colspan=3><b>For more information see:</b></td> </tr>

  <tr align="left" >
  <td> SDSC HPC Students Program: </td>
  <td colspan=2> <a href="https://www.sdsc.edu/education_and_training/hpc_students.html">https://www.sdsc.edu/education_and_training/hpc_students.html</a><br>
  </td>
  </tr>

  <tr align="left" >
  <td>UCSD Supercomputing Club</td>
  <td colspan=2> <a href="https://hpc-students.sdsc.edu/supercomputing_club.html">https://hpc-students.sdsc.edu/supercomputing_club.html</a> </td>
  </tr>

  <tr align="left">
   <td valign="center">
      <img src="images/SDSClogo-plusname-red.jpg" alt="SDSC" height="50" width="150" align="left">
   </td>
   <td valign="center" align="center">
        <center>
     For questions or comments, contact <br>
        Mary Thomas: <em>mthomas at sdsc.edu</em>
        </center>
  </td>
   <td valign="center">
   <img src="images/ucsd-logo.jpg" alt="UCSD" height="50" width="150" align="right">
   </td>
</tr>
</table>

